<button
  type="button"
  class="h-full w-full rounded-full bg-white p-2 shadow-inner shadow-gray-400 outline-none"
  (click)="onClick()"
>
  <app-icon class="text-red-pokedex" icon="sharp" />
</button>

@if (open()) {
  <div
    class="fixed left-0 top-0 flex h-screen w-screen items-center justify-center bg-black bg-opacity-50"
    tabindex="0"
    (click)="onClick()"
    (keypress)="onClick()"
  >
    <div
      class="rounded-xl bg-red-pokedex p-1"
      tabindex="0"
      (click)="onClickCard($event)"
      (keypress)="onClick()"
    >
      <fieldset [formGroup]="form">
        <legend class="px-5 py-4 text-white">Sort by:</legend>

        <div class="flex flex-col gap-4 rounded-lg bg-white px-5 py-4">
          @for (option of options; track option.id) {
            <div class="flex items-center gap-2">
              <input
                [formControlName]="name"
                class="text-red-pokedex focus:ring-red-pokedex"
                type="radio"
                [id]="option.id"
                [name]="name"
                [value]="option.value"
              />

              <label [for]="option.id">
                {{ option.label }}
              </label>
            </div>
          }
        </div>
      </fieldset>
    </div>
  </div>
}
