<div class="h-full w-full bg-red-pokedex p-2">
  <div class="flex flex-col gap-2 px-3 pb-6 pt-3">
    <div class="flex items-center gap-4">
      <app-icon class="h-7 text-white" icon="pokeball" />

      <h1 class="text-3xl font-bold text-white">Pokédex</h1>
    </div>

    <div class="flex w-full gap-4">
      <app-text-input
        [form]="form"
        id="search"
        name="search"
        placeholder="Search"
        leftIcon="search"
        class="flex-1"
      />

      <app-radio-modal />
    </div>
  </div>
</div>
