<div class="flex h-full w-full flex-col bg-red-pokedex p-2">
  <div class="flex flex-col gap-2 px-3 pb-6 pt-3">
    <div class="flex items-center gap-4">
      <app-icon class="h-7 text-white" icon="pokeball" />

      <h1 class="text-3xl font-bold text-white">Pokédex</h1>
    </div>

    <div class="flex w-full gap-4">
      <app-text-input
        [form]="form"
        id="search"
        name="search"
        placeholder="Search"
        leftIcon="search"
        class="flex-1"
      />

      <app-radio-modal [form]="form" name="sortBy" [options]="sortByOptions" />
    </div>
  </div>

  <div class="grid flex-1 grid-cols-3 gap-2 rounded-lg bg-white p-3">
    @for (pokemon of pokemons(); track pokemon.name) {
      <router-link [routerLink]="['/detail', pokemon.data.id]">
        <app-pokemon-card [pokemon]="pokemon" />
      </router-link>
    }
  </div>
</div>
